<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.19/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <title><%= locals.title %></title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
</head>
<body class="grid-bg">

 <%- include("../components/navbar")%>
 <main class="">
   <%- body %>
 </main>
 
  <!-- class="bg-white min-h-screen w-full" ..... Note, this is the body class-->
  
  <script src="/js/menuToggle.js"></script>
</body>
</html>